<a href="https://colab.research.google.com/github/RoccoBellusci/MLPNS_RBellusci/blob/main/Esercizio10_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import pandas as pd

In [82]:
url = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [83]:
colnames = ["key","title", "genre"]
movies = pd.read_csv(url, sep = "::", header = None, names = colnames)
del movies["key"]
movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   title                         genre
0                       Toy Story (1995)   Animation|Children's|Comedy
1                         Jumanji (1995)  Adventure|Children's|Fantasy
2                Grumpier Old Men (1995)                Comedy|Romance
3               Waiting to Exhale (1995)                  Comedy|Drama
4     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3878             Meet the Parents (2000)                        Comedy
3879          Requiem for a Dream (2000)                         Drama
3880                    Tigerland (2000)                         Drama
3881             Two Family House (2000)                         Drama
3882               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [84]:
# esercizio con ciclo for
j = 0
for i in range(len(movies["genre"])):
  if movies["genre"][i] == "Fantasy":
    j = j + 1

print("Film Fantasy:", j)

j = 0 
for i in range(len(movies["genre"])):
  if movies["genre"][i] == "Adventure":
    j = j + 1

print("Film Adventure:", j)

j = 0
for i in range(len(movies["genre"])):
  if "Fantasy" in movies["genre"][i]:
    j = j + 1

print("Film fantasy con altri generi:", j)

Film Fantasy: 1
Film Adventure: 17
Film fantasy con altri generi: 68

In [86]:
def is_fantasy(mgenre):
  return "Fantasy" in mgenre

# senza ciclo for
movies_bool = movies["genre"] == "Fantasy"
print("Film Fantasy:",movies_bool.sum())

movies_bool = movies["genre"] == "Adventure"
print("Film Adventure:",movies_bool.sum())

movies_bool = movies["genre"].map(is_fantasy)
print("Film Fantasy con altri generi:", movies_bool.sum())

Film Fantasy: 1
Film Adventure: 17
Film Fantasy con altri generi: 68

Film Fantasy con altri genere 68

True