<a href="https://colab.research.google.com/github/RoccoBellusci/MLPNS_RBellusci/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
2 * 2

4

In [3]:
2 * 2

4

# First markdown cell
This is a text cell in a markdown syntax

# Here we start coding

# native variables and variable types

## integers

In [5]:
intVar = 3;

In [6]:
type(intVar) # per sapere che tipo di variabile è

int

## floats

In [7]:
floatVar = 3.0;

In [9]:
type(floatVar)

float

In [11]:
float2Var = float(intVar); # cambia la variabile di tipo intero a float

In [12]:
type(float2Var)

float

In [13]:
# posso lavorare con tipi di variabili diversi
intVar * floatVar

9.0

In [14]:
intVar / 2

1.5

In [15]:
type(intVar + floatVar - intVar/2)

float

In [17]:
(intVar + floatVar - intVar)/2

1.5

## string

In [18]:
print("Hello world!")

Hello world!

In [20]:
print('''Hello 
world''')

Hello
world

In [21]:
strVar = 'Hello world'

In [22]:
print(strVar)

Hello world

## boolean variables

In [23]:
True

True

In [24]:
False

False

In [25]:
if True: 
  print("This is true")
  print(intVar * floatVar)

This is true
9.0

In [26]:
if False: 
  print("This is true")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [27]:
intVar == 3

True

In [28]:
intVar == floatVar

True

In [30]:
if intVar > floatVar: 
  print("This is true")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [31]:
# == is equal? 
print(intVar == floatVar )
# > grater
print(intVar > floatVar )
# < smaller
print(intVar < floatVar )
# != not equal
print(intVar != floatVar )

True
False
False
False

In [32]:
(intVar > floatVar) & (intVar < floatVar) # & is logical AND

False

In [34]:
(intVar > floatVar) | (intVar == floatVar) # | is logical OR

True

In [35]:
False == 0

True

In [37]:
# * is logical AND
if (intVar > floatVar) * (intVar == floatVar):
  print("True")
else:
  print("False")

False

In [38]:
# + is logical OR
if (intVar > floatVar) + (intVar == floatVar):
  print("True")
else:
  print("False")

True

In [42]:
if 2:
  print("something")

something

In [45]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

## variable as object

In [48]:
strVar = "hello world"

In [49]:
strVar.capitalize() # prima lettera maiuscola

'Hello world'

In [50]:
strVar.upper() # tutte maiuscole

'HELLO WORLD'

In [52]:
strVar.isdigit() # chiedo se è un numero

False

In [53]:
"3".isdigit()

True

In [54]:
floatVar.is_integer() # mi dà True perché tutte le cifre decimali sono zero

True

## list

In [56]:
listVar = [intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [58]:
listVar.append(11)
listVar

[3, 3.0, 'hello world', 0, True, 11, 11]

In [59]:
listVar[0]

3

In [60]:
strVar[0]

'h'

In [61]:
'h' in strVar

True

In [62]:
3 in listVar

True

In [63]:
64 in listVar

False

In [64]:
listVar

[3, 3.0, 'hello world', 0, True, 11, 11]

In [68]:
# se voglio cambiare il secondo elemento della lista
listVar[1] = 9
listVar

#non funziona nelle stringhe

[3, 9, 'hello world', 0, True, 11, 11]

##Esercizio

In [89]:
guess = "brava"
guess = guess.lower

In [90]:
target = "porta"
target = target.lower

In [95]:
esatti = []
output = ""

In [116]:
if len(target) != len(guess):
  print("wrong word lenght")


for i in range(5):
  if guess[i] == target[i]:
    output = output + guess[i] 
  elif guess[i] in target:
     output = output + "*"
  else: 
    output = output + "_"

print(output)

_**_a_**_a

## Functions

In [117]:
def wordle(guess,target):
  """
  A function that checks a word guess against a target
  Input:
    guess: a string
  Return:
    a string
  """
  guess = guess.lower()
  target = target.lower()

  output = ""
  if len(target) != len(guess):
    print("wrong word lenght")
    
  for i in range(len(target)):
    if guess[i] == target[i]:
      output = output + guess[i] 
    elif guess[i] in target:
      output = output + "*"
    else: 
      output = output + "_"

  print(output)

In [118]:
wordle("ciao","cioa")

ci**

## importing packages

typical packages that we will see
### pandas
  manipulation of tabular data
### numpy 
   manipulation of numerical data
### scipy 
  statistica
### matplotlib (pylab)
  visualizations and plotting
### sklearn 
  machine learning
### tensor flow
  neural networks

In [119]:
# se il pacchetto è già installato
import pandas

In [122]:
import pandas as pd
from pandas import read_csv # posso usare read_csv come una funzione senza usare pd.

In [123]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [127]:
df = pd.read_csv(url) #legge il file csv
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [129]:
df.shape

(924, 41)

In [131]:
df.columns #nome delle colonne

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [133]:
df.iloc[5] # torna un oggetto di pandas con informazioni sulla riga 5

Unique Key                                                                 54046765
Created Date                                                 05/01/2022 12:00:27 AM
Closed Date                                                  05/01/2022 12:48:50 AM
Agency                                                                         NYPD
Agency Name                                         New York City Police Department
Complaint Type                                                  Noise - Residential
Descriptor                                                         Loud Music/Party
Location Type                                            Residential Building/House
Incident Zip                                                                10031.0
Incident Address                                               377 EDGECOMBE AVENUE
Street Name                                                        EDGECOMBE AVENUE
Cross Street 1                                                     WEST  150 STREET
Cross Street 2                                                     WEST  155 STREET
Intersection Street 1                                              WEST  150 STREET
Intersection Street 2                                              WEST  155 STREET
Address Type                                                                ADDRESS
City                                                                       NEW YORK
Landmark                                                           EDGECOMBE AVENUE
Facility Type                                                                   NaN
Status                                                                       Closed
Due Date                                                                        NaN
Resolution Description            The Police Department responded to the complai...
Resolution Action Updated Date                               05/01/2022 12:48:54 AM
Community Board                                                        09 MANHATTAN
BBL                                                                    1020540022.0
Borough                                                                   MANHATTAN
X Coordinate (State Plane)                                                1000713.0
Y Coordinate (State Plane)                                                 241035.0
Open Data Channel Type                                                       ONLINE
Park Facility Name                                                      Unspecified
Park Borough                                                              MANHATTAN
Vehicle Type                                                                    NaN
Taxi Company Borough                                                            NaN
Taxi Pick Up Location                                                           NaN
Bridge Highway Name                                                             NaN
Bridge Highway Direction                                                        NaN
Road Ramp                                                                       NaN
Bridge Highway Segment                                                          NaN
Latitude                                                                  40.828246
Longitude                                                                -73.940513
Location                                    (40.82824553459575, -73.94051254172763)
Name: 5, dtype: object

In [135]:
# per estrarre la colonna 
df.iloc[:, 1]

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [137]:
df.loc[:, 'Created Date']

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [138]:
url = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat" # è un file dat

In [144]:
colnames = ["title", "genre"]
movies = pd.read_csv(url, sep = "::", index_col = 0, header = None, names=colnames) #indico il separatore che è ::; la mia zeresima colonna è la colonna degli indici, uso index_col

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [143]:
type(df)

pandas.core.frame.DataFrame

In [145]:
movies["title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [148]:
movies["genre"].unique() # mi dice solo i valori unici nella colonna

array(["Animation|Children's|Comedy", "Adventure|Children's|Fantasy",
       'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Crime|Thriller', "Adventure|Children's", 'Action',
       'Action|Adventure|Thriller', 'Comedy|Drama|Romance',
       'Comedy|Horror', "Animation|Children's", 'Drama',
       'Action|Adventure|Romance', 'Drama|Thriller', 'Drama|Romance',
       'Thriller', 'Action|Comedy|Drama', 'Crime|Drama|Thriller',
       'Drama|Sci-Fi', 'Romance', 'Adventure|Sci-Fi', 'Adventure|Romance',
       "Children's|Comedy|Drama", 'Documentary', 'Drama|War',
       'Action|Crime|Drama', 'Action|Adventure', 'Crime|Thriller',
       "Animation|Children's|Musical|Romance", 'Action|Drama|Thriller',
       "Children's|Comedy", 'Drama|Mystery', 'Sci-Fi|Thriller',
       'Action|Comedy|Crime|Horror|Thriller', 'Drama|Musical',
       'Crime|Drama|Romance', 'Adventure|Drama', 'Action|Thriller',
       "Adventure|Children's|Comedy|Musical", 'Action|Drama|War',
       'Action|Adventure|Crime', 'Crime', 'Drama|Mystery|Romance',
       'Action|Drama', 'Drama|Romance|War', 'Horror',
       'Action|Adventure|Comedy|Crime', 'Comedy|War',
       'Action|Adventure|Mystery|Sci-Fi', 'Drama|Thriller|War',
       'Action|Romance|Thriller', 'Crime|Film-Noir|Mystery|Thriller',
       'Action|Adventure|Drama|Romance', "Adventure|Children's|Drama",
       'Action|Sci-Fi|Thriller', 'Action|Adventure|Sci-Fi',
       "Action|Children's", 'Horror|Sci-Fi', 'Action|Crime|Sci-Fi',
       'Western', "Animation|Children's|Comedy|Romance",
       "Children's|Drama", 'Crime|Drama',
       'Drama|Fantasy|Romance|Thriller', 'Drama|Horror', 'Comedy|Sci-Fi',
       'Mystery|Thriller', "Adventure|Children's|Comedy|Fantasy|Romance",
       'Action|Adventure|Fantasy|Sci-Fi', 'Drama|Romance|War|Western',
       'Action|Crime', 'Crime|Drama|Romance|Thriller',
       'Action|Adventure|Western', 'Horror|Thriller',
       "Children's|Comedy|Fantasy", 'Film-Noir|Thriller',
       'Action|Comedy|Musical|Sci-Fi', "Children's",
       'Drama|Mystery|Thriller', 'Comedy|Romance|War', 'Action|Comedy',
       "Adventure|Children's|Romance", "Animation|Children's|Musical",
       'Comedy|Crime|Fantasy', 'Action|Comedy|Western', 'Action|Sci-Fi',
       'Action|Adventure|Comedy|Romance', 'Comedy|Crime|Drama',
       'Comedy|Thriller', 'Horror|Sci-Fi|Thriller',
       'Mystery|Romance|Thriller', 'Comedy|Western', 'Drama|Western',
       'Action|Adventure|Crime|Thriller', 'Action|Comedy|War',
       'Comedy|Mystery', 'Comedy|Mystery|Romance', 'Comedy|Drama|War',
       'Action|Drama|Mystery', 'Comedy|Crime|Horror', 'Film-Noir|Sci-Fi',
       'Comedy|Romance|Thriller', "Action|Adventure|Children's|Sci-Fi",
       "Children's|Comedy|Musical", 'Action|Adventure|Comedy',
       'Action|Crime|Romance',
       "Action|Adventure|Animation|Children's|Fantasy",
       "Animation|Children's|Comedy|Musical", 'Adventure|Drama|Western',
       'Action|Adventure|Crime|Drama',
       'Action|Adventure|Animation|Horror|Sci-Fi', 'Action|Horror|Sci-Fi',
       'War', 'Action|Adventure|Mystery', 'Mystery',
       'Action|Adventure|Fantasy',
       "Adventure|Animation|Children's|Comedy|Fantasy", 'Sci-Fi',
       'Documentary|Drama', 'Action|Adventure|Comedy|War',
       'Crime|Film-Noir|Thriller', 'Animation',
       'Action|Adventure|Romance|Thriller', 'Animation|Sci-Fi',
       'Animation|Comedy|Thriller', 'Film-Noir', 'Sci-Fi|War',
       'Adventure', 'Comedy|Crime', 'Action|Sci-Fi|War',
       'Comedy|Fantasy|Romance|Sci-Fi', 'Fantasy',
       'Action|Mystery|Thriller', 'Comedy|Musical',
       'Action|Adventure|Sci-Fi|Thriller', "Children's|Drama|Fantasy",
       'Adventure|War', 'Musical|Romance', 'Comedy|Musical|Romance',
       'Comedy|Mystery|Romance|Thriller', 'Film-Noir|Mystery', 'Musical',
       "Adventure|Children's|Drama|Musical",
       'Drama|Mystery|Sci-Fi|Thriller', 'Romance|Thriller',
       'Film-Noir|Romance|Thriller', 'Crime|Film-Noir|Mystery',
       'Adventure|Comedy', 'Action|Adventure|Romance|War', 'Romance|War',
       'Action|Drama|Western', "Children's|Comedy|Western",
       "Adventure|Children's|Comedy", "Children's|Comedy|Mystery",
       "Adventure|Children's|Fantasy|Sci-Fi",
       "Adventure|Animation|Children's|Musical",
       "Adventure|Children's|Musical", 'Crime|Film-Noir',
       "Adventure|Children's|Comedy|Fantasy",
       "Children's|Drama|Fantasy|Sci-Fi", 'Action|Romance',
       'Adventure|Western', 'Comedy|Fantasy', 'Animation|Comedy',
       'Crime|Drama|Film-Noir', 'Action|Adventure|Drama|Sci-Fi|War',
       'Action|Sci-Fi|Thriller|War', 'Action|Western',
       "Action|Animation|Children's|Sci-Fi|Thriller|War",
       'Action|Adventure|Romance|Sci-Fi|War',
       'Action|Horror|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Horror|Sci-Fi', 'Action|Comedy|Musical',
       'Mystery|Sci-Fi', 'Film-Noir|Mystery|Thriller',
       'Adventure|Comedy|Drama', 'Action|Adventure|Comedy|Horror',
       'Action|Drama|Mystery|Romance|Thriller', 'Comedy|Mystery|Thriller',
       'Adventure|Animation|Sci-Fi|Thriller', 'Action|Drama|Romance',
       'Action|Adventure|Drama', 'Comedy|Drama|Musical',
       'Documentary|War', 'Drama|Musical|War', 'Action|Horror',
       'Horror|Romance', 'Action|Comedy|Sci-Fi|War', 'Crime|Drama|Sci-Fi',
       'Action|Romance|War', 'Action|Comedy|Crime|Drama',
       'Action|Drama|Thriller|War', "Action|Adventure|Children's",
       "Action|Adventure|Children's|Fantasy",
       "Adventure|Animation|Children's|Comedy|Musical",
       'Crime|Drama|Mystery', 'Action|Adventure|Comedy|Sci-Fi',
       "Children's|Fantasy", 'Action|Mystery|Sci-Fi|Thriller',
       'Action|Mystery|Romance|Thriller', 'Adventure|Thriller',
       'Action|Thriller|War', 'Action|Crime|Mystery',
       'Horror|Mystery|Thriller', 'Crime|Horror|Mystery|Thriller',
       'Comedy|Drama|Thriller', 'Drama|Sci-Fi|Thriller',
       'Drama|Romance|Thriller', 'Action|Adventure|Sci-Fi|War',
       'Comedy|Crime|Drama|Mystery', 'Comedy|Crime|Mystery|Thriller',
       'Film-Noir|Sci-Fi|Thriller', 'Adventure|Sci-Fi|Thriller',
       'Crime|Drama|Mystery|Thriller', 'Comedy|Documentary',
       'Documentary|Musical', 'Action|Drama|Sci-Fi|Thriller',
       "Adventure|Animation|Children's|Fantasy",
       'Adventure|Comedy|Romance', 'Mystery|Sci-Fi|Thriller',
       'Action|Comedy|Crime', "Animation|Children's|Fantasy|War",
       'Action|Crime|Drama|Thriller', 'Comedy|Sci-Fi|Western',
       "Children's|Fantasy|Musical", 'Fantasy|Sci-Fi',
       "Children's|Comedy|Sci-Fi", "Action|Adventure|Children's|Comedy",
       "Adventure|Children's|Drama|Romance",
       "Adventure|Children's|Sci-Fi",
       "Adventure|Children's|Comedy|Fantasy|Sci-Fi",
       "Animation|Children's|Comedy|Musical|Romance",
       "Children's|Musical", 'Drama|Fantasy',
       "Animation|Children's|Fantasy|Musical", 'Adventure|Comedy|Musical',
       "Children's|Sci-Fi", "Children's|Horror", 'Comedy|Fantasy|Romance',
       'Comedy|Crime|Thriller', "Adventure|Animation|Children's|Sci-Fi",
       'Action|Crime|Mystery|Thriller', 'Adventure|Musical',
       "Animation|Children's|Drama|Fantasy", "Children's|Fantasy|Sci-Fi",
       'Adventure|Fantasy|Romance', 'Crime|Horror',
       'Action|Adventure|Horror', 'Adventure|Fantasy|Sci-Fi',
       'Drama|Film-Noir|Thriller', 'Action|Comedy|Fantasy',
       'Sci-Fi|Thriller|War', 'Action|Adventure|Sci-Fi|Thriller|War',
       'Action|Adventure|Drama|Thriller', 'Crime|Horror|Thriller',
       'Animation|Musical', 'Action|War',
       'Action|Comedy|Romance|Thriller', 'Comedy|Horror|Thriller',
       'Drama|Horror|Thriller', 'Action|Sci-Fi|Thriller|Western',
       'Drama|Romance|Sci-Fi', 'Action|Adventure|Horror|Thriller',
       'Comedy|Film-Noir|Thriller', 'Comedy|Horror|Musical|Sci-Fi',
       'Comedy|Romance|Sci-Fi', 'Action|Comedy|Sci-Fi|Thriller',
       'Action|Sci-Fi|Western', 'Comedy|Horror|Musical', 'Crime|Mystery',
       'Animation|Mystery', 'Action|Horror|Thriller',
       'Action|Drama|Fantasy|Romance', 'Horror|Mystery',
       "Adventure|Animation|Children's", 'Musical|Romance|War',
       'Adventure|Drama|Romance', 'Adventure|Animation|Film-Noir',
       'Action|Adventure|Animation', 'Comedy|Drama|Western',
       'Adventure|Comedy|Sci-Fi', 'Drama|Romance|Western',
       'Comedy|Drama|Sci-Fi', 'Action|Drama|Romance|Thriller',
       'Adventure|Romance|Sci-Fi', 'Film-Noir|Horror',
       'Crime|Drama|Film-Noir|Thriller', 'Action|Adventure|War',
       'Romance|Western', "Action|Children's|Fantasy",
       'Adventure|Drama|Thriller', 'Adventure|Fantasy', 'Musical|War',
       'Adventure|Musical|Romance', 'Action|Romance|Sci-Fi',
       'Drama|Film-Noir', 'Comedy|Horror|Sci-Fi',
       'Adventure|Drama|Romance|Sci-Fi', 'Adventure|Animation|Sci-Fi',
       'Adventure|Crime|Sci-Fi|Thriller'], dtype=object)

In [149]:
 # voglio estrarre l'anno 
movies["title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [153]:
"Toy Story (1995)".split()[-1].replace("(","").strip(")") #estrae l'anno, ultimo elemento della stringa

'1995'

In [154]:
# funzione di pandas che permette di eseguire una funzione su tutte le righe

In [157]:
def get_year(mtitle):
  """
  """
  return int(mtitle.split("(")[-1].strip(")"))

In [159]:
movies["title"].map(get_year) #map applica una funzione a tutte le righe

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: title, Length: 3883, dtype: int64

In [161]:
movies["year"] = movies["title"].map(get_year)
movies

                                   title                         genre  year
1                       Toy Story (1995)   Animation|Children's|Comedy  1995
2                         Jumanji (1995)  Adventure|Children's|Fantasy  1995
3                Grumpier Old Men (1995)                Comedy|Romance  1995
4               Waiting to Exhale (1995)                  Comedy|Drama  1995
5     Father of the Bride Part II (1995)                        Comedy  1995
...                                  ...                           ...   ...
3948             Meet the Parents (2000)                        Comedy  2000
3949          Requiem for a Dream (2000)                         Drama  2000
3950                    Tigerland (2000)                         Drama  2000
3951             Two Family House (2000)                         Drama  2000
3952               Contender, The (2000)                Drama|Thriller  2000

[3883 rows x 3 columns]